.Navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.mainLink {
    margin-right: 16px;
}

.links {
    margin-left: auto;
}
